html {
    box-sizing: border-box;
    border: 1px solid #000;
    text-align: justify;
    padding: 10px;
    background-color: #eee;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
*, *:before, *:after {
    box-sizing: inherit;
    border: 1px solid #000;
    border-radius: 10px;
}
header {
    background-color: deeppink;
    height: 300px;
    margin-bottom: 10px;
    display: block;
    float: flex;
}